.Footer--container,
.social--media,
.copyright {
  display: flex;
  align-items: center;
}

.Footer--container {
  flex-direction: column;
  justify-content: center;
  width: var(--size);
  height: auto;
  background-color: #0f131f;

  .social--media {
    justify-content: space-evenly;
    width: var(--size);
    max-width: 20rem;
    padding: var(--padding);

    & a {
      color: var(--font-color);
      font-size: 1.25rem;
      transition: transform .25s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .copyright {
    justify-content: space-around;
    width: 30%;
    max-width: 15rem;
    padding: 0;
    
    & p {
      color: var(--font-color);
      font-size: 1rem;
      font-family: var(--abel);
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: .1rem;

      & span { font-weight: 300; }
      & time { font-weight: 600; }
    }
  }
}