.Header,
.heading--container {
  display       : flex;
  align-items   : center;
  flex-direction: column;
}

.Header {
  justify-content: center;
  height         : var(--vh);
  position       : relative;

  .heading--container {
    justify-content: space-around;
    width          : var(--size);
    position       : absolute;
    top            : calc(var(--size) * .5);
    left           : calc(var(--size) * .5);
    transform      : translate(-50%, -50%);

    .heading,
    .sub--heading {
      margin        : 0;
      padding       : 0;
      pointer-events: none;
      color         : var(--font-color);
    }

    .heading {
      font-size     : calc(var(--font-size) * 3);
      font-family   : var(--homenaje);
      color         : var(--font-color);
      text-transform: capitalize;
      letter-spacing: .1rem;
    }

    .sub--heading {
      font-size     : 1.25rem;
      font-family   : var(--abel);
      font-weight   : 300;
      letter-spacing: .015rem;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .image {
    width       : var(--size);
    height      : var(--vh);
    object-fit  : cover;
    aspect-ratio: 1;
    z-index     : -1;
  }

  & p {
    position   : absolute;
    bottom     : 0;
    font-size  : .7rem;
    font-family: var(--abel);
    color      : var(--font-color);

    & a {
      color: lightcoral;
    }
  }
}