.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  padding-block: 0;
  margin-block-end: 1rem;
}

.form--group { 
  display: flex; 
  align-self: flex-end;
}

.form-group label {
  display: inline-block;
  font: 500 calc(var(--padding) * .85) var(--abel);
  padding-inline-end: .5rem;
}

.form-group input { width: 15rem; }