.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;

    .nav,
    .logo--container,
    .toggle--container { 
        position: fixed; 
        top: 0;
        left: 0;
    }

    .logo--container {
        transform: translate(25%, 25%);
        z-index: 1;
    }

    .heading {
        margin: 0;
        font: 600 calc(var(--font-size) * 3) / 1.5 var(--homenaje);
        color: var(--base-color);
        text-transform: capitalize
    }

    .nav,
    .menu {
        display: flex;
        align-items: center;
    }

    .nav {
        justify-content: center;
        width: var(--size);
        height: 5rem;
        background-color: hsl(350, 100%, 0%);

        .menu {
            justify-content: space-between;
            margin-inline: auto;
            padding: 0;
        }

        .item {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .link {
            padding: 2rem;
            position: relative;
            font: normal var(--font-size) / 1.5 var(--font-stack);
            color: var(--font-color);
            text-decoration: none;
            text-transform: capitalize;

            &::before {
                content: '';
                display: block;
                width: 0;
                position: absolute;
                top: 3.75rem;
                transition: width .5s ease;
                border-bottom: .2rem solid var(--font-color);
                border-radius: .5rem;
            }

            &:hover::before {
                width: var(--size)
            }
        }
    }

    // .toggle--container {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 2rem;
    //     height: 1rem;
    //     top: 1.85rem;
    //     left: 92%;
    //     border: .1rem solid var(--font-color);
    //     background-image: linear-gradient(
    //         45deg,
    //         #04898d,
    //         #2c3e50
    //     );
    //     border-radius: 5rem;
    //     box-shadow: .2rem .2rem .7rem 0 rgba(0,0,0,.35) inset,
    //                 -.2rem -.2rem .7rem 0 rgba(255,255,255,.7) inset;
    //     cursor: pointer;

    //     .checkbox { 
    //         appearance: none;
    //         padding: .5rem 1rem;
    //         border-radius: 5rem;
    //         cursor: pointer;

    //         &:checked ~ .slider {
    //             left: .975rem;
    //             background-color: transparent;
    //             transform: rotate(360deg);
    //         }

    //         &:checked ~ .slider span:first-child { display: none; }
    //         &:checked ~ .slider span:last-child { 
    //             display: block;
    //             transform-origin: .4rem;
    //             transform: rotate(215deg);
    //         }
    //     }

    //     .slider {
    //         --sz: .75rem;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         width: var(--sz);
    //         height: var(--sz);
    //         position: absolute;
    //         left: .1rem;
    //         border-radius: calc(var(--size) * .5);
    //         background-color: transparent;
    //         transform: rotate(0deg);
    //         transform-origin: .4rem;
    //         transition: .5s;

    //         & span:last-child { display: none; }
    //     }
    // }
}