.container {
    display: grid;
    place-items: center;
}

.heading,
.text { 
    margin-block: .5rem;

    text-transform: capitalize; 
    color: hsl(340, 10%, 10%)
}

.heading {
    font: 700 calc(3.125rem * .85) / 1.5 'Montserrat', sans-serif;
}

.text {
    font: 400 calc(1.75rem * .75) / 1.5 'Abel', sans-serif;
}