.hexa--container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 45rem;
    height: auto;

    padding-block-start: 1rem;
}

.hexa--color {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5rem;
    height: 5rem;
    margin: .1rem;
}

.hexa--color__name {
    font: normal 1rem 'Abel', sans-serif;
    color: hsl(100, 100%, 100%)
}